footer {
    margin-top: 50px;
    grid-area: footer;
    background-color: $color6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100vw;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 1;
    i {
        color: $color2;
        font-size: 20px;
    }
}
