@import '_variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color6;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto 0.2fr;
    grid-template-areas: 'header'
    'section'
    'footer';
    justify-content: center;
}

@import '_header';
@import '_footer';

section {
    grid-area: section;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.plant {
    position: relative;
    width: 80%;
    margin-bottom: 100px;
    box-shadow: 1px 1px 10px black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 3%;
    background-color: $color7;
    img {
        width: 60%;
        height: 200px;
        border-radius: 5px;
    }
    li {
        list-style: none;
    }
    .p7 {
        img {
            height: 150px;
        }
    }
    h3 {
        color: $color6;
        font-family: $font3;
        text-transform: uppercase;
        font-size: 30px;
        margin-bottom: 2%;
    }
    p {
        color: $color3;
        font-family: $font1;
        font-size: 25px;
        font-weight: bold;
        text-decoration: underline;
        margin-bottom: 3%;
    }
    li {
        padding-left: 40px;
        padding-right: 40px;
        color: $color6;
        font-family: $font1;
        font-size: 20px;
        padding-bottom: 5px;
        
    }
}

.p0::after {
    content: 'TIP: No soportan el frío! Van a necesitar protección en el caso de encontrarse en zonas con bajas temperaturas';
    position: absolute; 
    background: $color5;
    width: 50%;
    padding: 30px;
    height: fit-content;
    color: $color3;
    font-family: $font3;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    margin-right: -30px;
    margin-bottom: -50px;
    transform: rotate(10deg);
    box-shadow: 5px 5px 20px black;
}

.p1::after {
    content: 'TIP: Estas plantitas requieren un drenaje para eliminar el exceso de agua!' ;
    position: absolute; 
    background: $color5;
    width: 50%;
    padding: 30px;
    height: fit-content;
    color: $color3;
    font-family: $font3;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    margin-right: -30px;
    margin-bottom: -50px;
    transform: rotate(10deg);
    box-shadow: 5px 5px 20px black;
}

.p2::after {
    content: 'TIP: Al ser una planta resistente no tolera bien el exceso de fertilizante.';
    position: absolute; 
    background: $color5;
    width: 50%;
    padding: 30px;
    height: fit-content;
    color: $color3;
    font-family: $font3;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    margin-right: -30px;
    margin-bottom: -50px;
    transform: rotate(10deg);
    box-shadow: 5px 5px 20px black;
}


.p3::after {
    content: 'TIP: Hay que esperar 3-4 años para hacer uso de sus propiedades curativas.';
    position: absolute; 
    background: $color5;
    width: 50%;
    padding: 30px;
    height: fit-content;
    color: $color3;
    font-family: $font3;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    margin-right: -30px;
    margin-bottom: -50px;
    transform: rotate(10deg);
    box-shadow: 5px 5px 20px black;
}


.p4::after {
    content: 'TIP: Los bonsai necesitan estar en un ambiente con un nivel de humedad y temperatura elevado.';
    position: absolute; 
    background: $color5;
    width: 50%;
    padding: 30px;
    height: fit-content;
    color: $color3;
    font-family: $font3;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    margin-right: -30px;
    margin-bottom: -50px;
    transform: rotate(10deg);
    box-shadow: 5px 5px 20px black;
}


.p5::after {
    content: 'TIP: Los cactus soportan suelos áridos pero crecen mejor si se cultivan en una tierra más nutrida.';
    position: absolute; 
    background: $color5;
    width: 50%;
    padding: 30px;
    height: fit-content;
    color: $color3;
    font-family: $font3;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    margin-right: -30px;
    margin-bottom: -50px;
    transform: rotate(10deg);
    box-shadow: 5px 5px 20px black;
}


.p6::after {
    content: 'TIP: No soporta temperaturas muy frías ni secas.';
    position: absolute; 
    background: $color5;
    width: 50%;
    padding: 30px;
    height: fit-content;
    color: $color3;
    font-family: $font3;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    margin-right: -30px;
    margin-bottom: -50px;
    transform: rotate(10deg);
    box-shadow: 5px 5px 20px black;
}


.p7::after {
    content: 'TIP: Al regar, hay que evitar que sus ramas y flores se mojen.';
    position: absolute; 
    background: $color5;
    width: 50%;
    padding: 30px;
    height: fit-content;
    color: $color3;
    font-family: $font3;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    margin-right: -30px;
    margin-bottom: -50px;
    transform: rotate(10deg);
    box-shadow: 5px 5px 20px black;
}

@media only screen and (min-width: 600px) {
    header {
        background-image: url('img/desktop/4.png');
        background-repeat: no-repeat;
        .label {
            display: none;
        }
        .logo {
            margin-top: 40px;
            padding: unset;
            
        }
        nav {
            background-color: $color2;
            height: 40px;
            ul {
                width: unset;
                flex-direction: row;
                background-color: $color2;
                justify-content: space-evenly;
                li {
                    padding: unset;
                    a {
                        font-size: 25px;
                    }
                }

            }
        }
    }

    section {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
        .plant {
            width: 350px;
            height: 750px;
            padding-top: unset;
            justify-content: flex-start;
            align-items: center;
            margin-right: 60px;
            margin-left: 60px;
            img {
                margin-top: 30px;
                margin-bottom: 10px;
            }
        }
    }

    footer {
        height: 40px;

    }
}